
$color-text: #E8E7E8;
$color-primary: #40404f;
$color-secondary: #0DBBA0;
$color-close:$color-secondary;
$color-skills: #D66850;
$color-about:$color-secondary;
$color-profile: #8A6AE3;
$color-contact: #2589CE;
$color-border:$color-skills;
$color-full-bar:$color-secondary;
$color-empty-bar: #737276;




$size-xs: 480px;
$size-s: 768px;
$size-m: 900px;
$size-l: 1024px;
$size-xl: 1200px;
$size-xxl: 1290px;

$debug: false;